<footer class="shadow">
  <div class="container">
    <ul class="social-icons text-center">
    	<li><a href="https://github.com/RobCardenas/sonder" target="_blank"><%= image_tag "github.png" %></a></li>
    	<li><a href="https://linkedin.com/in/robbcardenas" target="_blank"><%= image_tag "linkedin.png" %></a></li>
    	<li><a href="http://twitter.com/rbthsnk" target="_blank"><%= image_tag "twitter.png" %></a></li>
    	<li><a href="http://instagram.com/robcardenas" target="_blank"><%= image_tag "instagram.png" %></a></li>
    	<li>&copy; 2015 SONDER</li>
    </ul>
  </div>
</footer>