<div class="container">
	<h1>SONDER</h1>
	<div class="row">
			<% @stories.each do |story| %>
		<div class="col-md-4">

			<h2><%= story.name.titleize %></h2>
			<%= image_tag story.pictures.first.image(:medium).to_s, class: "img-responsive" %>
			<%= link_to "View Story", story_path(story) %>
		</div>
			<% end %>
		
	</div>
	<div class="row">
		<% if current_user %>
		<%= link_to "Add a Story", new_story_path %>
		<% end %>
	</div>
</div>
