<div class="jumbotron">
	<h1 class="text-center">STORIES</h1>
</div>
<div class="row white">
<div class="container">
	
	<div class="row">
			<% @stories.each do |story| %>
		<div class="col-md-4 col-sm-6 col-xs-12">

			<h2><%= story.name.titleize %></h2>
			<%= image_tag story.pictures.first.image(:large).to_s, class: "img-responsive" %>
			<%= link_to "View Story", story_path(story) %>
		</div>
			<% end %>
		
	</div>
	<div class="row">
		<% if current_user %>
		<%= link_to "Add a Story", new_story_path %>
		<% end %>
	</div>
</div>
</div>
