<div class="jumbotron">
	<h1 class="text-center">STORIES</h1>
</div>
<div class="row">
	<div class="container user-stories">
			<% @stories.each do |story| %>
				<div class="col-md-4 col-sm-6 cover">
					<%= link_to image_tag(story.pictures.first.image(:medium).to_s, class: "img-responsive story-cover bx-viewport"), story_path(story) %><br>
					<%= link_to story.name.titleize, story_path(story) %>
				</div>
			<% end %>
	</div>
</div>
