<h1>Post a New Story</h1>
<%= form_for @story do |f| %>
	<%= f.text_field :name, placeholder: "Story Name" %>
	<%= f.text_field :description, placeholder: "Description" %>
	<%= f.submit "Post Story" %>
<% end %>
