@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,500,700);

body {
	background-color: #eee;
	font-family: "Ubuntu", sans-serif;
}

h1 {
	font-weight: 700;
}

p {
	color: #333;
}

a {
	color: #333;
}

/*====== LANDING PAGE ======*/

.bg-image {
	background-color: #333;
	background-image: image-url("people.jpg");
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	height: 100vh;
}

.welcome p {
	color: #fff;
	text-align: justify;
}

.welcome h1 {
	color: #fff;
	text-align: justify;
}

.btn-transparent {
	background-color: transparent;
	border: 2px solid #fff;
	border-radius: 0;
}

a .btn-transparent:hover {
	color: #666;
}

/*====== NAVBAR ======*/

.navbar-inverse {
  background-color: transparent;
  border-color: transparent;
}

.navbar-inverse img {
	height: 50px;
}

.navbar-default {
	background-color: #fff;
  margin-bottom: 0;
  border-radius: 0;
}

.navbar-default img {
	height: 30px;
}

.navbar-brand {
	padding-top: 10px;
}

.navbar-avatar {
	border-radius: 5px;
	height: 30px;
}


/*====== JUMBOTRON(S) ======*/

.jumbotron {
	background-image: image-url("kids-dusk.jpg");
	background-size: cover;
	margin: 0;
}

.jumbotron img {
	margin: 0 auto;
}

.jumbotron h1, h3 {
	color: #fff;
	text-shadow: 0px 2px 2px rgba(90, 90, 90, 1);
}

/*====== INDEX PAGE ======*/

.white {
	background-color: #eee;
}

.story-cover {
	box-shadow: 0 1px 3px rgba(0,0,0,0.12),
							0 1px 2px rgba(0,0,0,0.24);
}

.cover {
	margin-bottom: 40px;
}

/*====== FLIPBOOK PAGE ======*/

.slider-pg {
	margin-top: 100px;
}

.bx-viewport {
	box-shadow: 0 1px 3px rgba(0,0,0,0.12),
							0 1px 2px rgba(0,0,0,0.24) !important;
}

.bx-prev {
    left: 10px;
    background: image-url('controls.png') no-repeat 0 -32px !important;
}

.bx-next {
    right: 10px;
    background: image-url('controls.png') no-repeat -43px -32px !important;
}
/*====== PROFILE PAGE ======*/

.user-stories {
	margin-top: 40px;
}

.avatar {
	border: 5px solid #fff;
	border-radius: 5px;
}

/*====== FOOTER ======*/

footer {
  background-color: #fff;
  margin: 80px 0 0 0;
  padding: 30px;
}

ul.social-icons li {
	list-style: none;
	display: inline;
	padding: 5px;
}

.social-icons img {
	width: 30px;
	border-radius: 50%;
}